@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

/* Reset básico para remover margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
    background-color: #000;
}

/* Estilos do cabeçalho fixo */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid #333;
    height: 80px;
}

/* Container para o logo no cabeçalho */
header .logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: filter 0.3s;
    cursor: pointer;
}

/* Estilo do logo */
header .logo-container img {
    width: 100px;
}

/* Estilos do link de logo */
header .logo-container a {
    color: #e0e0e0;
    text-decoration: none;
}

/* Título no cabeçalho */
header .logo-container h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    color: #e0e0e0;
}

/* Estilos para a barra de navegação */
header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Links de navegação */
header nav a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 8px;
}

/* Link ativo com borda vermelha */
header nav a.active {
    color: #e50914;
    border-bottom: 2px solid #e50914;
}

/* Efeito hover nos links de navegação */
header nav a:hover {
    color: #fff;
}

/* Botões de autenticação no cabeçalho */
header .auth-buttons {
    display: flex;
    gap: 15px;
}

/* Estilos gerais para botões */
header .auth-buttons .btn {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

/* Botão branco */
header .auth-buttons .btn-white {
    background-color: #fff;
    color: #000;
}

/* Botão vermelho */
header .auth-buttons .btn-red {
    background-color: #e50914;
    color: #fff;
}

/* Estilos gerais do main */
main {
    padding: 100px 30px 30px;
    background-color: #111;
}

/* Estilo do herói (seção principal) */
.hero {
    text-align: center;
    margin-bottom: 30px;
}

/* Título principal do herói */
.hero h1 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

/* Container de botões e inputs */
.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilo do campo de input de busca */
#search-input {
    padding: 12px 18px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 300px;
}

/* Estilo do botão de busca */
#search-button {
    padding: 12px 18px;
    border-radius: 30px;
}

/* Estilo do seletor de gêneros */
#genre-filter {
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    appearance: none;
    cursor: pointer;
}

/* Estilo das opções no filtro de gêneros */
#genre-filter option {
    background-color: #333;
    color: white;
}

/* Estilo da grade de filmes */
.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Estilos dos cartões de filme */
.movie-card {
    position: relative;
    width: 220px;
    color: #e0e0e0;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s;
    cursor: pointer;
}

/* Estilo das imagens dos filmes */
.movie-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.3s;
}

/* Efeito hover nas imagens */
.movie-card:hover img {
    opacity: 0.7;
}

/* Estilo das informações dos filmes */
.movie-card .info {
    text-align: center;
    padding: 10px;
}

/* Título do filme */
.movie-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* Informações adicionais do filme */
.movie-card p {
    font-size: 16px;
}

/* Estilo do botão de "assistir" que aparece no hover */
.movie-card:hover .watch-button {
    display: block;
}

/* Botão de assistir dentro dos cartões */
.watch-button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    display: none;
    font-size: 16px;
}

/* Estilo para a mensagem de nenhum resultado encontrado */
.no-results-message {
    color: #e50914;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    display: none; /* Inicialmente escondido */
}

/* Estilos do rodapé */
footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #e0e0e0;
    align-items: center;
    /* display: flex; */
    justify-content: center;
    /* border-top: 1px solid #333; */
    margin-top: 10px;
    text-align: center;
}

/* Estilos do conteúdo do rodapé */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo no rodapé */
.footer-logo {
    flex: 1;
    min-width: 220px;
    text-align: center;
}

/* Estilo da imagem de logo no rodapé */
.footer-logo img {
    width: 150px;
    margin-bottom: 20px;
}

/* Seções de navegação e contato no rodapé */
.footer-nav, .footer-contact, .footer-social {
    flex: 1;
    min-width: 220px;
    text-align: left;
}

/* Estilos dos títulos das seções no rodapé */
.footer-nav h3, .footer-contact h3, .footer-social h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #e50914;
}

/* Links de navegação e contato no rodapé */
.footer-nav a, .footer-contact a {
    display: block;
    color: #e0e0e0;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 16px;
    transition: color 0.3s;
}

/* Efeito hover nos links do rodapé */
.footer-nav a:hover, .footer-contact a:hover {
    color: #fff;
}

/* Seção de redes sociais no rodapé */
.footer-social {
    text-align: center;
}

/* Estilo para o título da seção de redes sociais no rodapé */
.footer-social h3 {
    margin-bottom: 15px;
}

/* Estilo para os links de redes sociais */
.footer-social a {
    color: #e0e0e0;
    font-size: 28px;
    margin: 0 20px;
    transition: color 0.3s;
}

/* Efeito hover nos links de redes sociais */
.footer-social a:hover {
    color: #e50914;
}

/* Estilo da newsletter */
.newsletter {
    flex: 1;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 350px;
    margin: 0 auto;
}

/* Input de newsletter */
.newsletter input {
    padding: 12px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 100%;
    max-width: 350px;
}

/* Botão da newsletter */
.newsletter button {
    padding: 12px;
    border-radius: 30px;
    width: 100%;
    max-width: 350px;
}

/* Texto inferior do rodapé */
.footer-bottom {
    margin-top: 30px;
    font-size: 16px;
    color: #888;
}

/* Links no texto inferior do rodapé */
.footer-bottom a {
    color: #888;
    text-decoration: none;
    transition: color 0.3s;
}